[flake8]
# Максимальная длина строки (совместимо с Black)
max-line-length = 88

# Исключить стандартные папки и файлы
exclude =
    .git,
    __pycache__,
    build,
    dist,
    .venv,
    venv,
    .eggs,
    *.egg,
    migrations,
    instance

# Показывать статистику по ошибкам
statistics = True

# Игнорировать некоторые предупреждения (опционально)
# ignore = E203, E266, E501, W503

# Проверять все файлы с расширением .py
filename = *.py

# Максимальная сложность функций (по умолчанию 10)
max-complexity = 10
