[flake8]
# Максимальная длина строки (Black по умолчанию 88, PEP8 — 79)
max-line-length = 120

# Исключить стандартные папки, которые не нужно проверять
exclude =
    .git,
    __pycache__,
    build,
    dist,
    .venv,
    venv,
    .eggs,
    *.egg,
    migrations

# Показывать статистику по ошибкам
statistics = True

# Игнорировать некоторые предупреждения (пример)
# ignore = E203, E266, E501, W503

# Проверять все файлы с расширением .py, кроме исключённых выше
filename = *.py
