{% extends 'base.html' %} {% block content %} <h1>Категория: {{ category.name }}</h1>
<p><strong>ID:</strong> {{ category.id }}</p>
<p><strong>Описание:</strong> {{ category.description }}</p>
<a href="{{ url_for('categories.categories_list_ui') }}" class="btn btn-secondary">Назад к списку</a>
<a href="{{ url_for('categories.category_edit_ui', category_id=category.id) }}" class="btn btn-warning">Редактировать</a>
<a href="{{ url_for('categories.category_delete_ui', category_id=category.id) }}" class="btn btn-danger">Удалить</a> {% endblock %}